<div>
    <p>Albums page</p>
    <ul>
        <li>The Beatles
            <button>view Albums</button>
        </li>
        <li>The Tape-beatles
            <button>view Albums</button>
        </li>
        <li>Ollpa kerran The Beatles
            <button>view Albums</button>
        </li>
        <li>Better Than The Beatles
            <button>view Albums</button>
        </li>
        <li>The Norwegian
            <button>view Albums</button>
        </li>
        <li>The Beatles Recovered Band
            <button>view Albums</button>
        </li>
    </ul>
</div>