<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>artist-search</h1>
<form action="/artist-search" method="GET">
    <input type="name" name="artistname" placeholder="Artist Name" />
    <button type="submit">View albums</button>
    <img src="" />
    <a href="/albums/someArtistIdGoesHere">View Albums</a>
     
</form>
</body>
</html>